<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Default document: point to public/index.php -->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="public/index.php" />
      </files>
    </defaultDocument>

    <!-- Rewrite all requests to public/index.php (except existing files) -->
    <rewrite>
      <rules>
        <rule name="CI4 Front Controller" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
            <!-- If the request is for an existing file or directory, skip rewrite -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/public/index.php/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <!-- Recommended security headers (optional) -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Referrer-Policy" value="no-referrer-when-downgrade" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration><?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\Program Files\PHP\v8.2\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Main Rule" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php/{R:0}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
